<div class="create-form">
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="input-search">
                        <input type="text" class="form-control "
                            placeholder="Search by customer name or phone" (input)="customerChange()"
                            [(ngModel)]="searchByCustomer">
                        <svg xmlns="http://www.w3.org/2000/svg" class="search" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M11.5 2.75a8.75 8.75 0 1 0 0 17.5a8.75 8.75 0 0 0 0-17.5ZM1.25 11.5c0-5.66 4.59-10.25 10.25-10.25S21.75 5.84 21.75 11.5c0 2.56-.939 4.902-2.491 6.698l3.271 3.272a.75.75 0 1 1-1.06 1.06l-3.272-3.271A10.21 10.21 0 0 1 11.5 21.75c-5.66 0-10.25-4.59-10.25-10.25Z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg (click)="clearInput()" *ngIf="this.searchByCustomer.length>0"
                            xmlns="http://www.w3.org/2000/svg" class="close" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6L6.4 19Z" />
                        </svg>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="input-search">
                        <input type="text" class="form-control " placeholder="Search by order number"
                            (input)="searchPart()" [(ngModel)]="searchByPartNo" numbersOnly>
                        <svg xmlns="http://www.w3.org/2000/svg" class="search" width="24" height="24"
                            viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M11.5 2.75a8.75 8.75 0 1 0 0 17.5a8.75 8.75 0 0 0 0-17.5ZM1.25 11.5c0-5.66 4.59-10.25 10.25-10.25S21.75 5.84 21.75 11.5c0 2.56-.939 4.902-2.491 6.698l3.271 3.272a.75.75 0 1 1-1.06 1.06l-3.272-3.271A10.21 10.21 0 0 1 11.5 21.75c-5.66 0-10.25-4.59-10.25-10.25Z"
                                clip-rule="evenodd" />
                        </svg>
                        <svg (click)="clearPart()" *ngIf="this.searchByPartNo.length>0"
                            xmlns="http://www.w3.org/2000/svg" class="close" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6L6.4 19Z" />
                        </svg>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="input-search form-control2">
                        <nz-range-picker [nzDateRender]="tplRender" [(ngModel)]="selectedDate"
                            (ngModelChange)="changeDate($event)"></nz-range-picker>
                        <ng-template #tplRender let-current>
                            <div class="ant-picker-cell-inner" [class.border]="current.getDate() === 1">
                                {{ current.getDate() }}
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="input-search">

                        <select class="form-select" [(ngModel)]="statusType" (change)="statusChange()"
                            aria-label="Default select example">
                            <option *ngIf="!statusType" selected value="">All Orders Statuses</option>
                            <option [value]="data.id" *ngFor="let data of statusList">{{
                                data.description }}
                            </option>
                        </select>

                        <svg (click)="clearStatus()" *ngIf="statusType"
                            xmlns="http://www.w3.org/2000/svg" class="close" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6L6.4 19Z" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 ">
            <button type="button" class="btn o-btn hvr-bounce-to-right" (click)="resetParam()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2">
                        <path d="M3 2v6h6" />
                        <path d="M3 13a9 9 0 1 0 3-7.7L3 8" />
                    </g>
                </svg>
                {{"Promissory_Notes_orders.Reset" | translate}} </button>

        </div>
    </div>
</div>
<nz-spin [nzSpinning]="saveLoader" [nzSize]="'large'">
    <div class="table-responsive mt-4 pt-4">
        <div class="d-flex justify-content-between">
            <h5 class="card-subheading">{{"Promissory_Notes_orders.Promissory_Notes_Orders_List" |
                translate}} </h5>
            <h5 class="card-subheading-light">{{"Promissory_Notes_orders.Total_No" | translate}} :
                {{orderList.length}}</h5>

        </div>
        <nz-table #editRowTable nzBordered [nzData]="orderList" nzTableLayout="fixed"
            [nzPageSize]="pageSize" [nzLoading]="tableLoader">
            <thead>
                <tr>
                    <th nz-th nzSortFn="simpleSort" *ngIf="orderList.length > 0"
                        (click)="getSortFunction(sortType,'orderno')">
                        {{"Promissory_Notes_orders.Order_No" | translate}}
                    </th>
                    <th nz-th nzSortFn="simpleSort" *ngIf="orderList.length > 0"
                        (click)="getSortFunction(sortType,'customer')">
                        {{"Promissory_Notes_orders.Customer_Name" | translate}}
                    </th>
                    <th *ngIf="orderList.length > 0">
                        {{"Promissory_Notes_orders.Phone_No" | translate}}
                    </th>
                    <th nz-th nzSortFn="ascend" *ngIf="orderList.length > 0"
                        (click)="getSortFunction(sortType,'date')">
                        {{"Promissory_Notes_orders.Order_Date_Amount" | translate}}
                    </th>
                    <th nz-th nzSortFn="ascend" *ngIf="orderList.length > 0"
                        (click)="getSortFunction(sortType,'status')">
                        {{"Promissory_Notes_orders.Status" | translate}}
                    </th>
                    <th *ngIf="orderList.length > 0">
                        {{"Promissory_Notes_orders.Action" | translate}}
                    </th>
                    <th *ngIf="orderList.length  == 0" (click)="getSortFunction(sortType,'orderno')">
                        {{"Promissory_Notes_orders.Order_No" | translate}}
                    </th>
                    <th *ngIf="orderList.length == 0" (click)="getSortFunction(sortType,'customer')">
                        {{"Promissory_Notes_orders.Customer_Name" | translate}}
                    </th>
                    <th *ngIf="orderList.length == 0">
                        {{"Promissory_Notes_orders.Phone_No" | translate}}
                    </th>
                    <th *ngIf="orderList.length == 0" (click)="getSortFunction(sortType,'date')">
                        {{"Promissory_Notes_orders.Order_Date_Amount" | translate}}
                    </th>
                    <th *ngIf="orderList.length == 0" (click)="getSortFunction(sortType,'status')">
                        {{"Promissory_Notes_orders.Status" | translate}}
                    </th>
                    <th *ngIf="orderList.length == 0">
                        {{"Promissory_Notes_orders.Action" | translate}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of editRowTable.data;let index = index" class="table-cursor">
                    <td (click)="gotoDetail(data)">{{ data.orderId }}</td>
                    <td (click)="gotoDetail(data)">{{ data?.customer?.customerName }}</td>
                    <td (click)="gotoDetail(data)">{{ data.customer?.mobile }}</td>
                    <td (click)="gotoDetail(data)">{{ data.orderDate | date:'dd MMM yyyy h:mm a' }}</td>
                    <td (click)="gotoDetail(data)"><button type="button" class="btn o-btn "
                            [style.background-color]="data.statusObj?.lookupBGColor"
                            [style.color]="data.statusObj?.lookupTextColor">
                            {{ data.statusObj?.translations[0].lookupName }}
                        </button>
                    </td>

                    <td *ngIf="data.statusObj?.translations[0].lookupName.toLowerCase() == 'collected'">
                        <a class="pen-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" style="color: rgb(168 168 168)">
                                <path fill="currentColor"
                                    d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0Z" />
                            </svg>
                        </a>
                    </td>
                    <td (click)="gotoDetail(data)"
                        *ngIf="data.statusObj?.translations[0].lookupName.toLowerCase() != 'collected' && data.statusObj?.translations[0].lookupName.toLowerCase() != 'signed' && data.statusObj?.translations[0].lookupName.toLowerCase() != 'under collecting'">
                        <button type="button" class="btn o-btn hvr-bounce-to-right">
                            <span
                                *ngIf="data.actionToDo?.length  > 0">{{data.actionToDo[0].lookupName}}</span>
                        </button>
                    </td>
                    <td
                        *ngIf="data.statusObj?.translations[0].lookupName.toLowerCase() == 'signed' || data.statusObj?.translations[0].lookupName.toLowerCase() == 'under collecting'">
                        <div *ngIf="data.hasActiveRequest; else dotsBlock">
                            <a class="pen-icon" (click)="gotoDetail(data)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" style="color: rgb(168 168 168)">
                                    <path fill="currentColor"
                                        d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0Z" />
                                </svg>
                            </a>
                          </div>
                          
                          <ng-template #dotsBlock>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu nzSelectable>
                                    <li nz-menu-item
                                        (click)="createRequest(data.orderId,'Reschedule Request')">
                                        Create Reschedule Request</li>
                                    <li nz-menu-item
                                        (click)="createRequest(data.orderId,'Transfer Request')">
                                        Create Transfer Request</li>
                                </ul>
                            </nz-dropdown-menu>
                            <div class="hover-dropdown">
                                <div class="dropdown">
                                    <i class="fa-solid fa-ellipsis-vertical dropbtn"></i>
                                    <div class="dropdown-content">
                                        <a 
                                        (click)="createRequest(data.orderId,'Reschedule Request')">
                                        Create Reschedule Request</a>
                                    <a 
                                        (click)="createRequest(data.orderId,'Transfer Request')">
                                        Create Transfer Request</a>
                                    </div>
                                </div>
                            </div>
                          </ng-template>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-spin>