<div id="sidebar-container" [ngClass]="{'sidebar-expanded': sidebarExpanded, 'sidebar-collapsed': !sidebarExpanded}">

    <button data-toggle="sidebar-collapse" class="coll-icon" (click)="toggleSidebar()" style="border:none ;">
        <i class="fa-solid fa-arrow-left"></i>
    </button>
    <div class="logo-header">
        <img src="/assets/images/logo.svg" alt="">
    </div>
    <div class="nav-bar-body">
        <div class="nav-item">
            <a class="nav-link"  [routerLink]="'/home/allorder'" [class.active]="isWorkOrderActive()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="currentColor"
                        d="M22 6v12q0 .825-.588 1.413T20 20H4q-.825 0-1.413-.588T2 18V6q0-.825.588-1.413T4 4h16q.825 0 1.413.588T22 6ZM4 8h16V6H4v2Zm0 4v6h16v-6H4Zm0 6V6v12Z" />
                </svg>
                <span>Service Work Order</span>
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="currentColor">
                        <path d="M12 20a8 8 0 1 1 0-16v16Z" opacity=".5" />
                        <path fill-rule="evenodd"
                            d="M16.47 8.47a.75.75 0 0 0 0 1.06l1.72 1.72H10a.75.75 0 0 0 0 1.5h8.19l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 0 0-1.06 0Z"
                            clip-rule="evenodd" />
                    </g>
                </svg>
                <span>
                    Logout
                </span>
            </a>
        </div>
    </div>
</div>