.circle {
  font-size: 16px;
  font-weight: 600;
  background: #DC3545;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  flex-shrink:0;
  padding:5px;
  height:42px;
  width:42px;
  p {
    margin: 0;
    color: #FFFFFF;
  }
}
.card-content{
  max-height: 125px;
  overflow-y: auto;
}
