<nz-spin [nzSpinning]="saveLoader" [nzSize]="'large'">
    <div class="content-body-inner" *ngIf="orderDetail && !isPrintShow">
        <div class="row heading-box">
            <div class="col-lg-6">
                <span class="head-title">{{"Promissory_Notes.Date" | translate}}: </span>
                <span class="head-detail" *ngIf="orderDetail && orderDetail.orderDate">{{orderDetail?.orderDate |
                    date:'dd MMMyyyy'}}</span>
                <span class="head-detail" *ngIf="!orderDetail.pnOrderID">---</span>
            </div>
            <div class="col-lg-6 ">
                <div class="text-end">
                    <h1 class="head-title ">{{"Promissory_Notes.Order_No" | translate}}:
                        <span class="head-detail" *ngIf="orderDetail?.pnOrderID">{{orderDetail?.pnOrderID}}</span>
                        <span class="head-detail" *ngIf="!orderDetail.pnOrderID">---</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-heading">
                <div class="head-left">
                    <h5 class="card-subheading">{{"Promissory_Notes.Order_Detail" | translate}}</h5>
                </div>
                <div class="head-right header-btn-setup">
                    <button class="btn btn-round mb-2"
                        [style.background-color]="orderDetail && orderDetail.statusObj?.lookupBGColor"
                        [style.color]="orderDetail && orderDetail.statusObj?.lookupTextColor" type="button">
                        <span
                            *ngIf="orderDetail && orderDetail.statusObj">{{orderDetail.statusObj?.translations[0].lookupName}}</span>
                        <span *ngIf="!orderDetail.statusObj">---</span>
                    </button>
                </div>
            </div>
            <div class="card-content">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="card-box">
                            <h4 class="title">{{"Promissory_Notes.Order_Link" | translate}}</h4>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-box">
                            <a class="anchor-content" *ngIf="orderDetail && orderDetail.orderQNTRLLink"
                                href="{{ orderDetail.orderQNTRLLink }}" target="_blank">{{ orderDetail.orderQNTRLLink
                                }}</a>
                            <a class="anchor-content" *ngIf="!orderDetail.orderQNTRLLink">---</a>
                        </div>
                    </div>
                    <div class="col-lg-6 text-end">
                        <div class="card-box">
                            <h4 class="title">{{"Promissory_Notes.Opportunity_Card_No" | translate}}. :
                                <span class="detail"
                                    *ngIf="orderDetail && orderDetail.opportunityNo">{{orderDetail.opportunityNo}}</span>
                                <span class="detail" *ngIf="!orderDetail.opportunityNo">---</span>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="card-box">
                            <h4 class="title">{{"Promissory_Notes.Brand_Name" | translate}}</h4>
                            <h4 class="detail" *ngIf="orderDetail && orderDetail.orderDetail?.brand">
                                {{orderDetail.orderDetail?.brand.brand}}</h4>
                            <h4 class="detail" *ngIf="!orderDetail.orderDetail?.brand">---</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="card-box">
                            <h4 class="title">{{"Promissory_Notes.Vehicle_Model" | translate}}</h4>
                            <h4 class="detail" *ngIf="orderDetail && orderDetail.orderDetail?.model">
                                {{orderDetail.orderDetail?.model.modelName}}</h4>
                            <h4 class="detail" *ngIf="!orderDetail.orderDetail?.model">---</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="card-box">
                            <h4 class="title">{{"Promissory_Notes.VIN_No" | translate}}.</h4>
                            <h4 class="detail" *ngIf="orderDetail && orderDetail.orderDetail?.vinNo">
                                {{orderDetail.orderDetail?.vinNo}}</h4>
                            <h4 class="detail" *ngIf="!orderDetail.orderDetail?.vinNo">---</h4>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="card-box">
                            <h4 class="title">{{"Promissory_Notes.Vehicle_Price" | translate}}</h4>
                            <h4 class="detail" *ngIf="orderDetail && orderDetail.totalAmount">
                                {{orderDetail.totalAmount | customRound: 0}} JD</h4>
                            <h4 class="detail" *ngIf="!orderDetail.totalAmount">---</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="card-box">
                            <h4 class="title">{{"Promissory_Notes.Sales_Person" | translate}}</h4>
                            <h4 class="detail" *ngIf="orderDetail && orderDetail.salesConsultant.salesConsultantName">
                                {{orderDetail.salesConsultant.salesConsultantName}}</h4>
                            <h4 class="detail" *ngIf="!orderDetail.salesConsultant">---</h4>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nz-tabset>
            <nz-tab [nzTitle]="titleTemplate">
                <ng-template #titleTemplate>
                    {{"Promissory_Notes.PN_V2" | translate}}
                </ng-template>

                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="card-box">
                                    <h4 class="title">New No. Of Installments</h4>
                                    <h4 class="detail">8</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="card-box">
                                    <h4 class="title">New First Due Date</h4>
                                    <h4 class="detail">1/6/2023</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="card-box">
                                    <h4 class="title">Interest Percenatge</h4>
                                    <h4 class="detail">5%</h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-6">
                                <div class="card-box">
                                    <h4 class="title">Interest Value</h4>
                                    <h4 class="detail">1200</h4>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box">
                                    <h4 class="title">New Remaining Amount</h4>
                                    <h4 class="detail">12600</h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-heading bb-none">
                                <h5>{{"Promissory_Notes.Customer_Information" | translate}}</h5>
                            </div>
                            <div class="card-content">
                                <div class="profileee">

                                    <div class="img-box" *ngIf="orderDetail.customer.customerName">
                                        <nz-avatar
                                            [nzText]="commonService.getInitialOfName(orderDetail.customer.customerName)"></nz-avatar>
                                    </div>
                                    <div class="heading-box">
                                        <p class="head-title ">{{"Promissory_Notes.Name" | translate}}
                                            <span class="head-detail"
                                                *ngIf="orderDetail && orderDetail.customer.customerName">{{orderDetail.customer.customerName}}</span>
                                            <span class="head-detail"
                                                *ngIf="!orderDetail.customer.customerName">---</span>
                                        </p>
                                        <p class="head-title ">{{"Promissory_Notes.Customer_Account" | translate}}
                                            <span class="head-detail"
                                                *ngIf="orderDetail && orderDetail.customer.customerId">{{orderDetail.customer.customerId}}</span>
                                            <span class="head-detail"
                                                *ngIf="!orderDetail.customer.customerId">---</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row heading-box customer-info-card">
                                    <div class="col-lg-4 ">
                                        <p class="head-title ">{{"Promissory_Notes.ID" | translate}}</p>
                                        <p class="head-title ">{{"Promissory_Notes.Phone_No" | translate}}.</p>
                                        <p class="head-title ">{{"Promissory_Notes.Address" | translate}}</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="head-detail" *ngIf="orderDetail && orderDetail.customer.nationalId">
                                            {{orderDetail.customer.nationalId}}</p>
                                        <p class="head-detail" *ngIf="!orderDetail.customer.nationalId">---</p>
                                        <p class="head-detail" *ngIf="orderDetail && orderDetail.customer.mobile">
                                            {{orderDetail.customer.mobile}}</p>
                                        <p class="head-detail" *ngIf="!orderDetail.customer.mobile">---</p>
                                        <p class="head-detail" *ngIf="orderDetail && orderDetail.customer.custAddress">
                                            {{orderDetail.customer.custAddress}}</p>
                                        <p class="head-detail" *ngIf="!orderDetail.customer.custAddress">---</p>
                                    </div>
                                </div>
                                <div class="row heading-box">
                                    <div class="col-lg-4 ">
                                        <p class="head-title ">{{"Promissory_Notes.ID_Attachment" | translate}}</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <button type="button" class="pdf-view-btn"
                                            *ngIf="orderDetail.customer.identityFile1"
                                            (click)="pdfView(orderDetail.customer.identityFile1)">{{"Promissory_Notes.document_name_PDF"
                                            |
                                            translate}}
                                            <a href="" class="eye">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24">
                                                    <path fill="currentColor"
                                                        d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0Z" />
                                                </svg>
                                            </a>
                                            <a href="" class="download">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24">
                                                    <path fill="currentColor"
                                                        d="M12 15.575q-.2 0-.375-.062T11.3 15.3l-3.6-3.6q-.275-.275-.275-.7t.275-.7q.275-.275.713-.287t.712.262L11 12.15V5q0-.425.288-.713T12 4q.425 0 .713.288T13 5v7.15l1.875-1.875q.275-.275.713-.263t.712.288q.275.275.275.7t-.275.7l-3.6 3.6q-.15.15-.325.213t-.375.062ZM6 20q-.825 0-1.413-.588T4 18v-2q0-.425.288-.713T5 15q.425 0 .713.288T6 16v2h12v-2q0-.425.288-.713T19 15q.425 0 .713.288T20 16v2q0 .825-.588 1.413T18 20H6Z" />
                                                </svg>
                                            </a>
                                        </button>
                                        <p class="head-detail" *ngIf="!orderDetail.customer.identityFile1">---</p>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="card-heading bb-none">
                                <div class="head-left">
                                    <h5>{{"Promissory_Notes.Guarantor_Information" | translate}}</h5>
                                </div>
                                <!-- <div class="head-right"></div> -->
                            </div>
                            <div class="card-content">
                                <div class="profileee">
                                    <div class="img-box">
                                        <nz-avatar
                                            [nzText]="commonService.getInitialOfName(orderDetail.guarantor.customerName)"></nz-avatar>
                                    </div>
                                    <div class="heading-box">
                                        <p class="head-title ">{{"Promissory_Notes.Name" | translate}}
                                            <span class="head-detail"
                                                *ngIf="orderDetail && orderDetail.guarantor.customerName">{{orderDetail.guarantor.customerName}}</span>
                                            <span class="head-detail"
                                                *ngIf="!orderDetail.guarantor.customerName">---</span>
                                        </p>
                                        <p class="head-title ">{{"Promissory_Notes.Customer_Account" | translate}}
                                            <span *ngIf="orderDetail && orderDetail.guarantor.customerId"
                                                class="head-detail">{{orderDetail.guarantor.customerId}}</span>
                                            <span class="head-detail"
                                                *ngIf="!orderDetail.guarantor.customerId">---</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="row heading-box">
                                    <div class="col-lg-4 ">
                                        <p class="head-title ">{{"Promissory_Notes.ID" | translate}}</p>
                                        <p class="head-title ">{{"Promissory_Notes.Phone_No" | translate}}.</p>
                                        <p class="head-title ">{{"Promissory_Notes.Address" | translate}}</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="head-detail" *ngIf="orderDetail && orderDetail.guarantor.nationalId">
                                            {{orderDetail.guarantor.nationalId}}</p>
                                        <p class="head-detail" *ngIf="!orderDetail.guarantor.nationalId">---</p>
                                        <p class="head-detail" *ngIf="orderDetail && orderDetail.guarantor.mobile">
                                            {{orderDetail.guarantor.mobile}}</p>
                                        <p class="head-detail" *ngIf="!orderDetail.guarantor.mobile">---</p>
                                        <p class="head-detail" *ngIf="orderDetail && orderDetail.guarantor.custAddress">
                                            {{orderDetail.guarantor.custAddress}}</p>
                                        <p class="head-detail" *ngIf="!orderDetail.guarantor.custAddress">---</p>
                                    </div>
                                </div>
                                <div class="row heading-box">
                                    <div class="col-lg-4 ">
                                        <p class="head-title ">{{"Promissory_Notes.ID_Attachment" | translate}}</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <button type="button" *ngIf="orderDetail && orderDetail.guarantor.identityFile1"
                                            class="pdf-view-btn">{{"Promissory_Notes.document_name_PDF" |
                                            translate}}
                                            <a href="" class="eye">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24">
                                                    <path fill="currentColor"
                                                        d="M12 9a3 3 0 0 1 3 3a3 3 0 0 1-3 3a3 3 0 0 1-3-3a3 3 0 0 1 3-3m0-4.5c5 0 9.27 3.11 11 7.5c-1.73 4.39-6 7.5-11 7.5S2.73 16.39 1 12c1.73-4.39 6-7.5 11-7.5M3.18 12a9.821 9.821 0 0 0 17.64 0a9.821 9.821 0 0 0-17.64 0Z" />
                                                </svg>
                                            </a>
                                            <a href="" class="download">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24">
                                                    <path fill="currentColor"
                                                        d="M12 15.575q-.2 0-.375-.062T11.3 15.3l-3.6-3.6q-.275-.275-.275-.7t.275-.7q.275-.275.713-.287t.712.262L11 12.15V5q0-.425.288-.713T12 4q.425 0 .713.288T13 5v7.15l1.875-1.875q.275-.275.713-.263t.712.288q.275.275.275.7t-.275.7l-3.6 3.6q-.15.15-.325.213t-.375.062ZM6 20q-.825 0-1.413-.588T4 18v-2q0-.425.288-.713T5 15q.425 0 .713.288T6 16v2h12v-2q0-.425.288-.713T19 15q.425 0 .713.288T20 16v2q0 .825-.588 1.413T18 20H6Z" />
                                                </svg>
                                            </a>
                                        </button>
                                        <p class="head-detail" *ngIf="!orderDetail.guarantor.identityFile1">---</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="promissory-notes-details-card">
                            <div class="card-heading pb-4">
                                <h4>
                                    New Promissory Notes
                                </h4>
                            </div>
                            <div class="bottom-buttons first-btn mt-4 pt-4" *ngIf="!isGenerate">
                                <button type="button" class="btn btn-white hvr-bounce-to-right2"
                                    [routerLink]="['/home/workorders']">{{"Promissory_Notes.Close" |
                                    translate}}</button>
                                <button type="button" class="btn btn-white hvr-bounce-to-right2" (click)="rejected()" >{{"Promissory_Notes.Reject" |
                                    translate}}</button>
                                <button class="btn o-btn hvr-bounce-to-right" type="button"
                                    >{{"Promissory_Notes.Approve" |
                                    translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </nz-tab>
            <nz-tab [nzTitle]="titleTemplate2" [nzDisabled]="true">
                <ng-template #titleTemplate2>
                    {{"Promissory_Notes.PN_V1" | translate}}
                </ng-template>
                </nz-tab>
        </nz-tabset>
    </div>
    <div *ngIf="isPrintShow">
        <div class="row heading-box p-4">
            <div class="col-lg-6 ">
                <h1 class="header-content ">
                    {{"Promissory_Notes.List_Of_Promissory_Notes" |
                    translate}}
                </h1>

            </div>
            <div class="col-lg-6 text-end">
                <h1 class="header-content ">
                    {{"Promissory_Notes.Difference_amount" |
                    translate}} (JD) : <span class="head-detail"
                        *ngIf="generatedlist.length  > 0 ">{{generatedlist[0].pnBookID}}</span>
                </h1>
            </div>
        </div>
        <embed [src]="safeUrl" *ngIf="safeUrl" type="application/pdf" width="100%" height="600px">
        <div class="row">
            <div class="col-lg-7"></div>
            <div class="col-lg-4">
                <div class="bottom-buttons">
                    <button type="button" class="btn btn-white hvr-bounce-to-right2"
                        (click)="printClose()">Close</button>
                    <button class="btn o-btn hvr-bounce-to-right" type="button" (click)="printAll(19002)">Print
                        All</button>
                </div>
            </div>
            <div class="col-lg-1"></div>

        </div>

    </div>
</nz-spin>

<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <p *ngFor="let item of errorsList" class="text-center text-danger">{{item?.ErrorMessageEn}}</p>
    </ng-container>
</nz-modal>