@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
$primary: #dc3545;
$bg-light: #f8f8f8;
$text-light: #929eae;
$secondary: #49a1bb;
$primary-bg: #545454 !important;
$card-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
$border: #e9e9e9;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
b,
small,
strong,
body,
button,
input,
optgroup,
select,
textarea {
    font-family: Kumbh Sans !important;
}

body {
    overflow-x: hidden !important;
}

a,
i,
.btn,
div {
    text-decoration: none !important;
    transition: all 0.3s ease-in-out !important;
}

textarea {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

input,
navbar-toggler,
button,
input {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

htmll,
body {
    scroll-behavior: smooth;
}

html {
    --scrollbarBG: #cfd8dc;
    --thumbBG: #90a4ae;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: $primary;
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.o-btn {
    background: $primary;
    font-size: 14px;
    height: 48px;
    width: 100%;
    border: none;
    font-weight: 500;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: $card-shadow !important;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: white;
}

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    // border: 1px solid white !important;
    left: 0px;
    bottom: 0;
    background: #ac2a37 !important;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: white !important;
    box-shadow: $card-shadow !important;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.btn-white {
    background: white;
    font-size: 14px;
    height: 48px;
    width: 160px;
    font-weight: 500;
    border-radius: 8px;
    border: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $card-shadow !important;
    font-size: 12px;
    color: $primary;
}

.hvr-bounce-to-right2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0px;
    height: 48px;
    width: 100%;
    border-radius: 7px;
    // border: 1px solid $primary !important;
    left: 0px;
    bottom: 0;
    background: $primary-bg;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right2:hover,
.hvr-bounce-to-right2:focus,
.hvr-bounce-to-right2:active {
    color: white !important;
    box-shadow: $card-shadow !important;
}

.hvr-bounce-to-right2:hover:before,
.hvr-bounce-to-right2:focus:before,
.hvr-bounce-to-right2:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

#sidebar-container {
    position: relative;
    min-height: 100vh;
    background-color: #f5f5f5;
    padding: 0;
}

.sidebar-expanded {
    width: 300px;
}

.sidebar-collapsed {
    width: 70px;

    .coll-icon {
        right: 18px;
        border: none !important;
    }

    .nav-link {
        padding: 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            display: none;
        }
    }

    .fa-solid {
        transform: rotate(180deg);
    }

    .logo-header {
        img {
            display: none;
        }
    }
}

.sidebar-expanded {
    .logo-header {
        overflow: hidden;
    }
}

#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.logo-separator {
    background-color: #333;
    height: 60px;
}

.body-row {
    display: flex;

    .content-body {
        width: 100%;
    }
}

.coll-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -12px;
    top: 22px;
    background: $primary;
    border-radius: 100px;

    i {
        color: white;
        font-size: 12px;
    }
}

.logo-header {
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 18px;
    }
}

.content-header {
    height: 75px;
    width: 100%;
    background: #ffffff;
    border-bottom: 0.5px solid #c4cdd5;
    padding: 20px 25px;

    .user-dropdown {
        .dropdown-menu {
            top: 20px !important;
            border-radius: 0px;
            border: 0.5px solid #f5f5f5 !important;
        }

        .dropdown-toggle::after {
            margin-left: 10px !important;
        }

        .dropdown-toggle {
            display: flex;
            align-items: center;
            font-weight: 600;

            .profile {
                height: 32px;
                width: 32px;
                border-radius: 100px;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 12px;
                font-weight: 600;
                background: $secondary;
            }
        }
    }
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
        h4 {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 0px;
            color: #1b212d;
        }
    }
}

.nav-bar-body {
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 10px 20px;

    .nav-link {
        cursor: pointer;
        margin-bottom: 5px;
        height: 48px;
        width: 100%;
        padding: 12px 15px;
        color: $text-light;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 12px;
        border-radius: 8px;

        span {
            margin-left: 5px;
        }
    }

    .nav-link.active {
        background: $primary;
        color: white !important;

        svg {
            fill: #fff !important;
        }
    }

    .nav-link:hover {
        background: $primary;
        color: white !important;

        svg {
            fill: #fff !important;
        }
    }
}

.content-body-inner {
    height: calc(100vh - 75px) !important;
    overflow: scroll;
    padding: 20px 25px;
    width: 100%;
}

.card {
    padding: 20px 15px !important;
    background: #ffffff;
    border: 0.5px solid #f5f5f5 !important;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
    margin-bottom: 24px;
    width: 100%;

    .card-heading {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid $border;

        h5 {
            margin-bottom: 15px;
            font-weight: 700;
            font-size: 16px;
            color: #1b212d;
        }
    }

    .card-box {
        height: 100%;
        margin-bottom: 15px;

        .title {
            font-weight: 600;
            font-size: 12px;
            color: #1b212d;
        }

        .detail {
            font-weight: 600;
            font-size: 12px;
            color: #929eae;
        }
    }
}

.page-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h4 {
        font-weight: 600;
        font-size: 22px;
        color: #1b212d;
    }

    svg {
        color: $primary;
    }
}

.collapse-card {
    margin-bottom: 25px;
    padding: 24px 24px 0px;
    background: #ffffff;
    border: 0.5px solid #c4cdd5;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    .accordion-button {
        padding: 0px;
        font-weight: 600;
        font-size: 16px;
        color: #1b212d;
        padding-bottom: 25px;
        background: transparent;
    }

    .accordion-item {
        border: none;
    }

    .accordion-body {
        padding: 18px 0px 24px;
    }
}

.accordion-body {
    .edit-row {
        margin-bottom: 20px;

        h5 {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #1b212d;
        }

        .days {
            display: flex;
            align-items: center;

            .input-text {
                width: 100%;
                margin-left: 20px;

                input {
                    font-size: 12px;
                    width: 100%;
                    height: 40px;
                    background: #ffffff;
                    border: 1px solid #d1d1d1;
                    border-radius: 8px;
                }
            }
        }
    }

    .edit-row:last-child {
        margin-bottom: 0px;
    }
}

input[type="radio"]:checked {
    background-color: $primary;
    border: 1px solid $primary;
}

input[type="checkbox"]:checked {
    background-color: $primary;
    border: 1px solid $primary;
}

.login-body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;

    .form-section {
        padding: 20px;
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-section {
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;

    .logo {
        img {
            height: 40px;
        }
    }

    .discription {
        text-align: center;
        padding: 20px 0px;
        color: $text-light;
        font-size: 16px;
    }

    .form {
        width: 100%;
    }

    .form-group {
        position: relative;
        margin-bottom: 25px;

        .form-label {
            font-weight: 600;
            color: black;
        }

        input {
            font-size: 12px;
            width: 100%;
            height: 40px;
            background: #ffffff;
            border: 1px solid #d1d1d1;
            border-radius: 8px;
        }

        .eye {
            position: absolute;
            top: 31px;
            // bottom: 0px;
            height: 40px;
            right: 0px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $text-light;
        }
    }

    .remember {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 25px;

        .form-check-label {
            font-size: 12px;

            font-weight: 600;
        }

        .f-pass {
            font-size: 12px;
            font-weight: 600;
            color: $primary;
        }
    }
}

.create-order-row {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;

    h5 {
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
    }
}

.create-form {
    input {
        padding: 10px 15px;
        height: 48px;
        font-size: 12px;
        background: #ffffff;
        border: 1px solid #d1d1d1;
        border-radius: 12px;
    }

    select {
        padding: 10px 15px;
        height: 48px;
        font-size: 12px;
        border: 1px solid #d1d1d1;
        border-radius: 12px;
    }
}

.input-search {
    position: relative;

    .search {
        position: absolute;
        top: 12px;
        left: 10px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 18px;
        width: 18px;
    }

    input {
        padding-right: 30px;
        padding-left: 45px;
    }
}

.select-search {
    position: relative;

    .search {
        position: absolute;
        top: 12px;
        left: 10px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        height: 18px;
        width: 18px;
    }

    select {
        padding-right: 50px;
        padding-left: 45px;
    }
}

.form-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h4 {
        font-size: 16px;
        line-height: 22px;
        font-weight: 700;
        color: #1b212d;
    }
}

.grand-amount-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .total-amount {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        h4 {
            margin-bottom: 0px;
            margin-right: 15px;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #1b212d;
        }

        .btn {
            padding: 14px 34px 14px 35px;
            border: none;
            color: black;
            font-weight: 700;
            height: 48px;
            background: #d6d6d6;
            border-radius: 10px;
        }
    }

    .add-note {
        width: 100%;
        display: flex;
        flex-direction: column;

        h4 {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #1b212d;
        }

        textarea {
            width: 350px;
            background: #fbfbfb;
            border: 2px solid #78778b;
            border-radius: 8px;
        }
    }
}

.card-subheading {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1b212d;
}

.payment-method-card {
    .radio-btns {
        display: flex;
        padding: 5px 0px;

        .form-check {
            margin-right: 20px;
        }
    }
}

.bottom-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 20px 0px 60px;

    .btn {
        width: 180px;
        margin-left: 20px;
    }
}

.error-msg {
    position: absolute;
}

input {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

.create-form input {
    border: 1px solid #d1d1d1 !important;
}

.btn-round {
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ant-table.ant-table-bordered>.ant-table-container {
    border-left: none !important;
}

tr:hover {
    background-color: #ac2a3706 !important;

    td {
        background-color: #ac2a3706 !important;
    }
}

.ant-table-content {
    th {
        border: none !important;
        font-weight: 700 !important;
        font-size: 14px !important;
        line-height: 19px !important;
        color: #1b212d !important;

        input {
            border-radius: 4px !important;
        }
    }

    td {
        border: none !important;
        font-weight: 700 !important;

        font-size: 12px !important;
        line-height: 19px !important;
        color: #1b212d;

        input {
            border-radius: 4px !important;
        }
    }

    td {
        border-bottom: 1px solid $border !important;
    }
}

.delete-icon {
    padding: 0px 5px;
    color: $primary;
}

.pen-icon {
    padding: 0px 5px;

    color: black;
}

.ant-pagination-next button,
.ant-pagination-prev button {
    border: none !important;
}

.ant-pagination-item {
    border: 2px solid #bdbdbd !important;
    border-radius: 8px !important;

    a {
        color: black !important;
    }
}

.ant-pagination-item-active {
    border: 2px solid #bdbdbd !important;
    background: #9f9c9c !important;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.14) !important;
    border-radius: 8px !important;

    a {
        color: white !important;
    }
}

.ant-input-disabled,
.ant-input[disabled] {
    color: $primary-bg;
}

input {
    border: 1px solid $border !important;
}

.date-input {
    height: 48px;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.ant-spin-dot-item {
    background-color: #ff1818 !important;
}

.page-title-DT {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title-right {
        display: flex;
        align-items: center;

        .dt {
            margin-right: 15px;

            h6 {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0px;
            }

            span {
                color: $primary;
            }
        }
    }

    .title-left {
        display: flex;
        align-items: center;

        .dt {
            margin-left: 15px;

            h6 {
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 0px;
            }

            span {
                color: $primary;
            }
        }
    }
}

.customer-details-card {
    background: #f8f8f8;
    border: 0.5px solid #f5f5f5;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .profile-section {
        display: flex;
        width: 100%;
        padding-top: 5px;

        .profile {
            height: 60px;
            width: 60px;
            background: $border;
            border-radius: 100px;

            img {
                height: 60px;
                width: 60px;
                border-radius: 100px;
                object-fit: cover;
            }
        }

        .detail {
            width: calc(100% - 70px);
            padding-left: 20px;

            h5 {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 16px;
                color: #1b212d;
            }

            p {
                margin-bottom: 10px;

                font-weight: 400;
                font-size: 16px;
                color: #929eae;
            }
        }
    }
}

.border-left {
    border-left: 1px solid $border;
}

.border-top {
    border-top: 1px solid $border;
}

.border-right {
    border-right: 1px solid $border;
}

.border-bottom {
    border-bottom: 1px solid $border;
}

.coll-icon {
    border: none !important;
}

.logout-model {
    width: 100%;

    .content {
        width: 100%;
        min-height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        svg {
            height: 80px;
            width: 80px;
            color: $primary;
        }

        h5 {
            margin-top: 10px;
            font-size: 22px;
            font-weight: 600;
        }
    }

    .btns {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .btn {
            width: 47%;
        }
    }
}

.ant-modal-content {
    border-radius: 8px !important;
}

.ant-table-row {
    .ant-table-cell {
        position: relative;

        input {
            padding-right: 22px !important;
        }

        small {
            position: absolute;
            bottom: 23px;
            right: 21px;
        }
    }

    .bottom-text {
        position: absolute !important;
        bottom: -2px !important;
        left: 18px !important;
    }

    .form-select {
        height: 32px !important;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.ant-avatar {
    color: $bg-light !important;
    background: $primary !important;
    width: 60px !important;
    height: 60px !important;
    font-size: large !important;
    line-height: 58px !important;
    font-weight: 600;
}

.heading-box {
    margin-bottom: 15px;

    .head-title {
        font-weight: 600;
        font-size: 12px;
        color: #1b212d;
    }

    .head-detail {
        font-weight: 600;
        font-size: 12px;
        // margin-left: 8px;
        color: #929eae;
    }
}

hr {
    color: $primary-bg;
}

.printed-status {
    background: #ccddff !important;
    font-size: 14px;
    height: 42px;
    width: 100%;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: $card-shadow !important;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #0057ff !important;
}

.signed-status {
    background: #bbf3e0 !important;
    font-size: 14px;
    height: 42px;
    width: 100%;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: $card-shadow !important;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #12a474 !important;
}

.generating-status {
    background: #e6e5ff !important;
    font-size: 14px;
    height: 26px !important;
    width: 90px;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: $card-shadow !important;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #5956e9 !important;
}

.uncollected-status {
    color: #00C2FF !important;
    font-size: 14px;
    height: 26px !important;
    width: 90px;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: $card-shadow !important;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.3px;
    background: #E5F9FF !important;
}

// .printed-status {
//     color: #0057FF !important;
//     font-size: 14px;
//     height: 26px !important;
//     width: 90px;
//     border: none;
//     overflow: hidden;
//     border-radius: 8px;
//     display: flex;
//     justify-content: center;
//     box-shadow: $card-shadow !important;
//     align-items: center;
//     font-size: 12px;
//     font-weight: 600;
//     font-size: 12px;
//     letter-spacing: 0.3px;
//     background: #CCDDFF !important;
// }

.collected-status {
    background: #f2f4ff !important;
    font-size: 14px;
    height: 42px;
    width: 100%;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: $card-shadow !important;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #4680f2 !important;
}

.pending-status {
    background: #fff3db !important;
    font-size: 14px;
    height: 42px;
    width: 100%;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: $card-shadow !important;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #ffb155 !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #1b212d !important;
}

.ant-steps-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;

    .ant-steps-item-title {
        padding-right: 0px !important;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
        color: #1b212d;
    }
}

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
    border: none !important;
    background: $primary !important;
}

.ant-steps-item-icon {
    margin-right: 0px !important;
}

.ant-steps-item-container .ant-steps-item-title {
    font-weight: 500;
}

nz-tab-nav-operation,
nz-tabs-nav,
nz-tabset {
    overflow: visible !important;
}

.ant-steps-item-title::after {
    top: -13px !important;
}

.lable-header {
    margin-bottom: 20px;
    height: 50px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    width: 100%;
    background: #f8f8f8;
    border-radius: 8px;

    h5 {
        margin-bottom: 0px !important;
    }
}

.profileee {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .heading-box {
        padding-left: 20px;

        .head-title {
            margin-bottom: 0px;

            span {
                margin-left: 10px;
            }
        }
    }
}

.pdf-view-btn {
    font-size: 10px;
    padding: 0px 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    height: 36px;
    font-weight: 500;
    background: #ffffff;
    border: 1px solid #11af22;
    border-radius: 4px;

    svg {
        height: 16px;
    }

    .eye {
        margin-left: 5px;
        color: #d1d1d1;
    }

    .download {
        color: #2eb93e;
    }
}

.table-edit {
    color: #4e9aff;

    svg {
        height: 22px;
    }
}

.ant-tabs-tab-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 133% */

    color: #929eae;
}

.ant-table-thead>tr>th {
    white-space: nowrap;
}

.border-none {
    border: none !important;
}

.bb-none {
    border-bottom: none !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
    border: none !important;
    background: #dc3545 !important;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: $bg-light !important;
    top: -3.5px !important;
}

.steps-action {
    .previous-btn {
        background: $primary;
        font-size: 14px;
        height: 40px;
        // width: 100%;
        border: none;
        font-weight: 500;
        overflow: hidden;
        border-radius: 8px;
        // display: flex;
        justify-content: center;
        box-shadow: $card-shadow !important;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.3px;
        color: white;
    }

    .next-btn {
        background: $primary;
        font-size: 14px;
        height: 40px;
        // width: 100%;
        border: none;
        font-weight: 500;
        overflow: hidden;
        border-radius: 8px;
        // display: flex;
        justify-content: center;
        box-shadow: $card-shadow !important;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.3px;
        color: white;
        margin-left: 5px !important;
    }

    .done-btn {
        background: $primary;
        font-size: 14px;
        height: 40px;
        // width: 100%;
        border: none;
        font-weight: 500;
        overflow: hidden;
        border-radius: 8px;
        // display: flex;
        justify-content: center;
        box-shadow: $card-shadow !important;
        align-items: center;
        font-size: 12px;
        letter-spacing: 0.3px;
        color: white;
        margin-left: 5px !important;
    }

    .ant-btn:focus,
    .ant-btn:hover {
        color: white !important;
        border-color: $primary !important;
        background: $primary;
    }

    .ant-btn:active,
    .ant-btn:focus,
    .ant-btn:hover {
        color: white !important;
        box-shadow: $card-shadow !important;
        background: $primary;
    }
}

.ant-tabs-ink-bar {
    background: $primary !important;
}

.table-correct {
    svg {
        height: 22px;
    }
}

.table-cancel {
    svg {
        height: 22px;
    }
}

.edit-data-status {
    color: $primary !important;
}

.undo-btn {
    background: #cacaca;
    font-size: 14px;
    height: 40px;
    // width: 100%;
    border: none;
    font-weight: 700;
    overflow: hidden;
    border-radius: 8px;
    // display: flex;
    justify-content: center;
    box-shadow: $card-shadow !important;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: black;
}

.anchor-content {
    font-weight: 600;
    font-size: 14px;
    text-decoration-line: underline !important;
    color: #2F80ED;
}

.header-btn-setup {
    .btn {
        font-size: 14px;
        height: 26px !important;
        width: 125px;
        border: none;
        overflow: hidden;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        box-shadow: $card-shadow !important;
        align-items: center;
        font-size: 12px;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.3px;
    }

    .pending-status-btn {
        background: #fff3db !important;
        color: #ffb155 !important;
    }

    .under-collection {
        color: #00C2FF !important;
        background: #E5F9FF !important;
    }

    .printed-status{
        background: #ccddff !important;
        color: #0057ff !important;
    }
}

/* Style the line between steps */
// .nz-steps .ant-steps-item:not(:last-child)::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     width: 40px; /* Adjust the width of the line */
//     height: 2px; /* Adjust the height of the line */
//     background-color: #fc0606; /* Adjust the color of the line */
//     right: -20px; /* Adjust the position of the line */
//   }

.header {
    color: $primary;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

// :host ::ng-deep .select-option {
//     width: 534px !important; 
//     height: 48px !important;
//     padding: 12px, 16px, 12px, 16px !important;
//     gap: 142px;
//     /* Inside auto layout */ 

//     flex: none !important;
//     order: 0 !important;
//     align-self: stretch !important;
//     flex-grow: 0 !important;
// }