<ngx-ui-loader [fgsPosition]="config.fgsPosition" [fgsSize]="config.fgsSize"
[bgsColor]="config.bgsColor" [fgsColor]="config.fgsColor" [pbColor]="config.pbColor"
    [fgsType]="config.fgsType"[bgsOpacity]="config.bgsOpacity"
    [bgsPosition]="config.bgsPosition" [bgsSize]="config.bgsSize" [bgsType]="config.bgsType" [gap]="config.gap"
    [logoPosition]="config.logoPosition" [logoSize]="config.logoSize" [logoUrl]="config.logoUrl"
    [overlayColor]="config.overlayColor" [pbDirection]="config.pbDirection"
    [pbThickness]="config.pbThickness" [hasProgressBar]="config.hasProgressBar" [text]="config.text"
    [textColor]="config.textColor" [textPosition]="config.textPosition"></ngx-ui-loader>
<router-outlet></router-outlet>
