<form [formGroup]="orderForm" (ngSubmit)="saveForm()">
    <div class="content-body-inner">

        <div class="create-order-row">
            <h5>
                Create Order
            </h5>
        </div>
        <div class="create-form">
            <div class="form-title">
                <h4>
                    Customer
                </h4>
            </div>
            <div class="form">

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Full Name <span
                                    class="text-danger">*</span></label>
                            <input type="text" placeholder="Type name or Phone No National ID..." class="form-control"
                                id="exampleInputEmail1" nz-input formControlName="customerName"
                                (ngModelChange)="onChangeName($event)" [nzAutocomplete]="auto" />
                            <nz-autocomplete #auto>
                                <nz-auto-option *ngFor="let option of customerList" [nzValue]="option.customerName"
                                    [nzLabel]="option.customerName">
                                    {{ option.customerName }}
                                </nz-auto-option>
                            </nz-autocomplete>
                            <div class="text-danger">
                                <div *ngIf="isRequiredField(formControls['customerName'])">
                                    <div *ngIf="formControls['customerName'].errors?.['required']">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="form-label">Phone Number</label>
                            <input type="text" class="form-control" disabled placeholder="Phone Number"
                                formControlName="mobile">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label class="form-label">National ID </label>
                            <input type="text" class="form-control" disabled placeholder="National ID "
                                formControlName="nationalId">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="mb-3">
                            <label for="exampleInputCardNo" class="form-label">Card No, <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="exampleInputCardNo" formControlName="cardNo"
                                placeholder="Type Number">
                            <div class="text-danger">
                                <div *ngIf="isRequiredField(formControls['cardNo'])">
                                    <div *ngIf="formControls['cardNo'].errors?.['required']">
                                        This field is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>
        <div class="card">
            <div class="card-heading">
                <div class="head-left">
                    <h5 class="card-subheading">Added Spare Parts</h5>
                </div>
                <div class="head-right">
                    <button class="btn btn-round" type="button" (click)="addRow()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>

        <div class="table-responsive">
            <nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed" [nzPageSize]="pageSize">
                <thead>
                    <tr>
                        <th nzWidth="15%">Part No</th>
                        <th nzWidth="15%">Description</th>
                        <th>Qty</th>
                        <th nzWidth="10%">Unit Price</th>
                        <th>Discount</th>
                        <th>Net</th>
                        <th>Tax</th>
                        <th nzWidth="10%">Total Price</th>
                        <th nzWidth="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of editRowTable.data;let index = index">
                        <ng-container *ngIf="!editCache[index].edit; else editTemplate">
                            <td>{{ data.partQtyConcat }}</td>
                            <td>{{ data.description }}</td>
                            <td>{{ data.qty }}</td>
                            <td>{{ data.unitofMeasure }}</td>
                            <td>{{ data.discount }} %</td>
                            <td>{{ data.net | number:'1.2-2'}}</td>
                            <td>{{ data.tax }} %</td>
                            <td>{{ data.totalPrice | number:'1.2-2'}}</td>
                            <td><a (click)="startEdit(index)" class="px-2"><i
                                        class="fa-solid fa-pen text-green fa-2x"></i></a>
                                <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data)"><i
                                        class="fa-solid fa-trash-can-xmark text-danger fa-2x"></i></a>
                            </td>

                        </ng-container>
                        <ng-template #editTemplate>
                            <td>
                                <div class="example-input">
                                    <input placeholder='Part No' nz-input
                                        [(ngModel)]="editCache[index].data.partQtyConcat" [ngModelOptions]="{ standalone: true }"
                                        (ngModelChange)="onChange($event,index)" [nzAutocomplete]="auto" />
                                    <nz-autocomplete #auto>
                                        <nz-auto-option *ngFor="let option of filteredOptions" [nzValue]="option.id"
                                            [nzLabel]="option.partQtyConcat">
                                            {{ option.partQtyConcat }}
                                        </nz-auto-option>
                                    </nz-autocomplete>
                                </div>
                            </td>
                            <td><input type="text" [disabled]="true" nz-input
                                    [(ngModel)]="editCache[index].data.description" [ngModelOptions]="{ standalone: true }" /></td>
                            <td><input type="number" (ngModelChange)="onChangeQty($event,index)" nz-input
                                    [(ngModel)]="editCache[index].data.qty" [ngModelOptions]="{ standalone: true }" /></td>
                            <td><input type="number" [disabled]="true" nz-input
                                    [(ngModel)]="editCache[index].data.unitofMeasure"  [ngModelOptions]="{ standalone: true }" /></td>
                            <td><input type="number" nz-input (ngModelChange)="onChangeDiscount($event,index)"
                                    [(ngModel)]="editCache[index].data.discount" [ngModelOptions]="{ standalone: true }" /></td>
                            <td><input type="number" [disabled]="true" nz-input
                                    [(ngModel)]="editCache[index].data.net" [ngModelOptions]="{ standalone: true }" /></td>
                            <td><input type="number" nz-input (ngModelChange)="onChangeTax($event,index)"
                                    [(ngModel)]="editCache[index].data.tax" [ngModelOptions]="{ standalone: true }" /></td>
                            <td><input type="number" [disabled]="true" nz-input
                                    [(ngModel)]="editCache[index].data.totalPrice" [ngModelOptions]="{ standalone: true }" /></td>
                            <td>
                                <a (click)="saveEdit(index)" class="save" class="px-2"><i
                                        class="fa-solid fa-floppy-disk text-success fa-2x"></i></a>
                                <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?"
                                    (nzOnConfirm)="cancelEdit(index)"><i
                                        class="fa-solid fa-xmark text-danger fa-2x"></i></a>
                            </td>
                        </ng-template>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <div class="card">
        <div class="grand-amount-card">
            <div class="add-note">
                <h4>Add Note</h4>
                <textarea name="" id="" rows="3" formControlName="salesNote"></textarea>
            </div>
            <div class="total-amount">
                <h4 class="card-subheading">Grand Amount</h4>
                <button type="button" class="btn btn-secondary">{{grandTotal | number:'1.2-2'}} JD</button>
            </div>
        </div>
    </div>
    <div class="card payment-method-card ">
        <h4 class="card-subheading">Payment Method</h4>
        <div class="radio-btns">
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="paymentType"  value="cash" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Cash
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio"  formControlName="paymentType"  value="pn" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    PN
                </label>
            </div>
        </div>
        <div class="bottom-buttons">
            <button type="button" class="btn btn-white hvr-bounce-to-right2">Cancel</button>
            <button class="btn o-btn hvr-bounce-to-right" type="submit">Create</button>
        </div>
    </div>
</form>
