<div class="content-body-inner">
    <div class="card">
        <div class="card-heading">
            <div class="head-left">
                <h5>{{"Dashboard.Customer_Information" | translate}}</h5>
            </div>
            <div class="head-right"></div>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">{{"Dashboard.Name" | translate}}</h4>
                        <h4 class="detail">Ahmed Mohammad</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Phone No.</h4>
                        <h4 class="detail">0799999999</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <div class="head-left">
                <h5>Order Information</h5>
            </div>
            <div class="head-right"></div>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Order No.</h4>
                        <h4 class="detail"> 123</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Order Link</h4>
                        <h4 class="detail"> https://link.com/orderlink12</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Branch</h4>
                        <h4 class="detail"> Branch 1</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Order Date</h4>
                        <h4 class="detail">22/3/2023</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <div class="head-left">
                <h5>Owner Information</h5>
            </div>
            <div class="head-right"></div>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Name</h4>
                        <h4 class="detail">Ahmed Mohammad</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Phone No.</h4>
                        <h4 class="detail">0799999999</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Total Amount</h4>
                        <h4 class="detail">35,000</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Promissory Notes Amount</h4>
                        <h4 class="detail">15,000</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card-box">
                        <h4 class="title">Remaining Amount</h4>
                        <h4 class="detail">12000</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>