<form [formGroup]="rejectForm" (ngSubmit)="saveForm()">
    <h5 class="text-center">
        Please Insert rejection reason here...
    </h5>
    <div class="row">
        <div class="col-lg-12">
            <textarea rows="5" appMaxCharacters="150" class="form-control"  formControlName="reason"></textarea>
            <div class="text-danger">
                <div
                    *ngIf="rejectForm.get('reason').errors?.maxlength && ( rejectForm.get('reason').invalid || saveSubmitted)">
                    Maximum character limit exceeded ({{
                    rejectForm.get('reason').errors?.maxlength?.requiredLength }} characters allowed)
                </div>
                <div
                *ngIf="(rejectForm.get('reason').invalid && (rejectForm.get('reason').touched || saveSubmitted)) || (!rejectForm.get('reason').value && saveSubmitted)">
                <div *ngIf="formControls['reason'].errors?.['required']">
                    This field is required.
                </div>
            </div>
            </div>

        </div>
    </div>
    <div class="bottom-buttons first-btn mt-4 pt-4">
        <button type="button" class="btn btn-white hvr-bounce-to-right2" (click)="close()">{{"Promissory_Notes.Cancel" |
            translate}}</button>
        <button class="btn o-btn hvr-bounce-to-right" type="submit">{{"Promissory_Notes.Confirm_Reject"
            |translate}}</button>
    </div>
</form>