<div class="row mb-4">
    <div class="col-4">
        <ng-select [items]="brandList" bindLabel="brand" (change)="selectBrandItem()" bindValue="brandID" [(ngModel)]="selectedBrandValue" placeholder="Select Brand" aria-label="Default select example">
        </ng-select>
    </div>
    <div class="col-4">
        <ng-select [items]="modelList" bindLabel="modelName" bindValue="modelID" (change)="selectModelItem()" [(ngModel)]="selectedModelValue" placeholder="Select Model" aria-label="Default select example">
        </ng-select>
    </div>
</div>
<div class="chart-wrapper">
    <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [plugins]="pieChartPlugins"
        [type]="'pie'"></canvas>
</div>