<div class="content-body-inner">
    <div class="page-title-DT">
        <div class="title-left">
            <div class="dt">
                <h6>Date <span> 14 Apr 2022</span></h6>
            </div>
            <div class="dt">
                <h6>Time <span> 10:00 PM</span></h6>
            </div>
        </div>
        <div class="title-right">
            <div class="dt">
                <h6>Status : Issued</h6>
            </div>
            <div class="dt">
                <h6><span>Order No.50000 </span></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card customer-details-card">
                <h5 class="card-subheading">Customer Details</h5>
                <div class="profile-section">
                    <div class="profile">
                        <img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="">
                    </div>
                    <div class="detail">
                        <h5>
                            Saleh Rahman
                        </h5>
                        <p>
                            S.rahman@uihut.com
                        </p>
                        <h5>
                            Customer No
                        </h5>
                        <p>
                            00 962 796829 093
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-heading">
                    <div class="head-left">
                        <h5>Vehicle Details</h5>
                    </div>
                    <div class="head-right"></div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Brand name</h4>
                                        <h4 class="detail">Toyota</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Vehicle Model</h4>
                                        <h4 class="detail">Yaris 2015</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Card No</h4>
                                        <h4 class="detail">R 2212 04908</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Vin No</h4>
                                        <h4 class="detail">0799999999</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Plate No.</h4>
                                        <h4 class="detail">24-97458</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 border-left">
                            <div class="card-box">
                                <h4 class="title">Service Advisor</h4>
                                <h4 class="detail">Murad Muhmad</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-heading">
                    <h5>Spare Parts</h5>
                </div>

                <nz-table #editRowTable nzBordered [nzPageSize]="pageSize" [nzData]="sparePartList" nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Part No</th>
                            <th>Desctiption</th>
                            <th>Qty</th>
                            <th>Unit Price</th>
                            <th>Discount</th>
                            <th>Net</th>
                            <th>Tax</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of editRowTable.data;let index = index">
                            <td>{{data.partNo}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.qty}}</td>
                            <td>{{data.unitPrice}}</td>
                            <td>{{data.discount}}</td>
                            <td>{{data.net}}</td>
                            <td>{{data.tax}}</td>
                            <td>{{data.totalPrice}}</td>
                          
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </div>
<!-- Start Labour -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-heading">
            <h5>Labour</h5>
        </div>

        <nz-table #editRowTable nzBordered [nzPageSize]="pageSize" [nzData]="sparePartList" nzTableLayout="fixed">
            <thead>
                <tr>
                    <th>Job Code</th>
                    <th>Desctiption</th>
                    <th>Job Qty</th>
                    <th>Discount</th>
                    <th>Net</th>
                    <th>Tax</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of editRowTable.data;let index = index">
                    <td>{{data.partNo}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.qty}}</td>
                    <td>{{data.discount}}</td>
                    <td>{{data.net}}</td>
                    <td>{{data.tax}}</td>
                    <td>{{data.totalPrice}}</td>
                  
                </tr>
            </tbody>
        </nz-table>
    </div>

</div>
<!-- Sublet -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-heading">
            <h5>Sublet</h5>
        </div>

        <nz-table #editRowTable nzBordered [nzPageSize]="pageSize" [nzData]="sparePartList" nzTableLayout="fixed">
            <thead>
                <tr>
                    <th>Sublet Code</th>
                    <th>Sublet Desctiption</th>
                    <th>Job Qty</th>
                    <th>Unit Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of editRowTable.data;let index = index">
                    <td>{{data.partNo}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.qty}}</td>
                    <td>{{data.unitPrice}}</td>
                    <td>{{data.totalPrice}}</td>
                  
                </tr>
            </tbody>
        </nz-table>
    </div>

</div>

    </div>


</div>