<div class="content-body-inner">
    <div class="page-title-DT">
        <div class="title-left">
            <div class="dt">
                <h6>Date <span *ngIf="customerDetail.length > 0"> {{customerDetail[0].orderDate | date}}</span></h6>
            </div>
            <div class="dt">
                <h6>Time <span *ngIf="customerDetail.length > 0"> {{customerDetail[0].orderDate | date:'h:mm a'}}</span>
                </h6>
            </div>
        </div>
        <div class="title-right">
            <div class="dt">
                <h6 *ngIf="customerDetail.length > 0">Status : {{customerDetail[0].statusObj[0].statusName}}</h6>
            </div>
            <div class="dt">
                <h6><span>Order No. {{paramId}} </span></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card customer-details-card">
                <h5 class="card-subheading">Customer Details</h5>
                <div class="profile-section" *ngIf="customerDetail.length > 0">
                    <nz-avatar
                        [nzText]="commonService.getInitialOfName(customerDetail[0].customer.customerName)"></nz-avatar>
                    <div class="detail">
                        <h5>
                            {{customerDetail[0].customer.customerName}}
                        </h5>
                        <p>
                            {{customerDetail[0].customer.customerName}}
                        </p>
                        <h5>
                            Customer No
                        </h5>
                        <p>
                            {{customerDetail[0].customer.mobile}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-heading">
                    <div class="head-left">
                        <h5>Vehicle Details</h5>
                    </div>
                    <div class="head-right"></div>
                </div>
                <div class="card-content" *ngIf="customerDetail.length > 0">
                    <div class="row">
                        <div class="col-lg-9" *ngIf="customerDetail[0].vinId">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Brand name</h4>
                                        <h4 class="detail">Toyota</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Vehicle Model</h4>
                                        <h4 class="detail">Yaris 2015</h4>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Card No</h4>
                                        <h4 class="detail">R 2212 04908</h4>
                                    </div>
                                </div> -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Vin No</h4>
                                        <h4 class="detail">0799999999</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Plate No.</h4>
                                        <h4 class="detail">24-97458</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 border-left" *ngIf="customerDetail.length > 0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card-box">
                                        <h4 class="title">Service Advisor</h4>
                                        <h4 class="detail">{{customerDetail[0].createdBy?.fullName}}</h4>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="card-box">
                                        <h4 class="title">&nbsp;</h4>
                                        <h4 class="detail">&nbsp;</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-heading">
                    <h5>Spare Parts</h5>
                    <h5 class="text-right">
                        <a class="pen-icon" [routerLink]="['/home/updateorders',paramId]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                                    d="M4 22h4m12 0h-8m1.888-18.337l.742-.742a3.146 3.146 0 1 1 4.449 4.45l-.742.74m-4.449-4.448s.093 1.576 1.483 2.966c1.39 1.39 2.966 1.483 2.966 1.483m-4.449-4.45L7.071 10.48c-.462.462-.693.692-.891.947a5.24 5.24 0 0 0-.599.969c-.139.291-.242.601-.449 1.22l-.875 2.626m14.08-8.13L14.93 11.52m-3.41 3.41c-.462.462-.692.692-.947.891c-.3.234-.625.435-.969.599c-.291.139-.601.242-1.22.448l-2.626.876m0 0l-.641.213a.848.848 0 0 1-1.073-1.073l.213-.641m1.501 1.5l-1.5-1.5" />
                            </svg>
                        </a>
                    </h5>
                </div>

                <nz-table #editRowTable nzBordered [nzPageSize]="pageSize" [nzData]="sparePartDetailList"
                    nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Part No</th>
                            <th>Desctiption</th>
                            <th>Qty</th>
                            <th>Unit Price</th>
                            <th>Discount</th>
                            <th>Net</th>
                            <th>Tax</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of editRowTable.data;let index = index">
                            <td>{{data.partNo}}</td>
                            <td>{{data.description}}</td>
                            <td>{{data.qty}}</td>
                            <td>{{data.unitPrice}} JD</td>
                            <td>{{data.discount}} %</td>
                            <td>{{data.net}} JD</td>
                            <td>{{data.tax}} %</td>
                            <td>{{data.totalPrice}} JD</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="grand-amount-card">
            <div class="add-note" *ngIf="customerDetail.length  > 0">
                <h4>Sales Note</h4>
                <textarea name="" id="" rows="3" [value]="customerDetail[0].salesNote" [disabled]="true"></textarea>

            </div>
            <div class="total-amount">
                <h4 class="card-subheading">Grand Amount</h4>
                <button type="button" class="btn btn-secondary">{{ totalPriceSum | number:'1.3-3'}} <small>
                        JD</small></button>
            </div>
        </div>
    </div>
    <div class="card payment-method-card " *ngIf="customerDetail.length > 0">
        <div class="row">
            <div class="col-lg-4">
                <h4 class="card-subheading">Payment Method</h4>
                <div class="radio-btns">
                    <div class="form-check" *ngIf="customerDetail[0].paymentType =='Cash'">
                        <input class="form-check-input" [disabled]="true" [(ngModel)]="customerDetail[0].paymentType"
                            type="radio" value="Cash" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Cash
                        </label>
                    </div>
                    <div class="form-check" *ngIf="customerDetail[0].paymentType !='Cash'">
                        <input class="form-check-input" [disabled]="true" [(ngModel)]="customerDetail[0].paymentType"
                            type="radio" value="PN" id="flexRadioDefault2">
                        <label class="form-check-label" for="flexRadioDefault2">
                            PN
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" *ngIf="customerDetail[0].paymentType !='Cash'">
                <div class="row">

                    <div class="col-lg-6 col-md-6">
                        <div class="mb-3">
                            <h4 class="card-subheading">Start Date *</h4>
                            <input type="text" class="form-control date-input" [disabled]="true"
                                [value]="customerDetail[0].pnStartDate | date:'dd MMM yyyy'" placeholder="Start Date">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="mb-3">
                            <h4 class="card-subheading">End Date *</h4>
                            <input type="text" class="form-control date-input" [disabled]="true"
                                [value]="customerDetail[0].pnEndDate | date:'dd MMM yyyy'" placeholder="End Date">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-buttons" *ngIf="customerDetail.length > 0">
            <div *ngIf="customerDetail[0].statusObj[0].statusName =='Waiting'">
                <button type="button" class="btn btn-white hvr-bounce-to-right2"
                    [routerLink]="'/home/allorder'">Cancel</button>
                <button class="btn o-btn hvr-bounce-to-right" type="submit">Update</button>
            </div>
        </div>
    </div>
</div>