<div class="content-body-inner">
    <div class="page-title-DT">
        <div class="title-left">
            <div class="dt">
                <h6>Date <span> 14 Apr 2022</span></h6>
            </div>
            <div class="dt">
                <h6>Time <span> 10:00 PM</span></h6>
            </div>
        </div>
        <div class="title-right">
            <div class="dt">
                <h6>Status : Issued</h6>
            </div>
            <div class="dt">
                <h6><span>Order No.50000 </span></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card customer-details-card">
                <h5 class="card-subheading">Customer Details</h5>
                <div class="profile-section">
                    <div class="profile">
                        <img src="https://www.pngmart.com/files/21/Admin-Profile-Vector-PNG-Clipart.png" alt="">
                    </div>
                    <div class="detail">
                        <h5>
                            Saleh Rahman
                        </h5>
                        <p>
                            S.rahman@uihut.com
                        </p>
                        <h5>
                            Customer No
                        </h5>
                        <p>
                            00 962 796829 093
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-heading">
                    <div class="head-left">
                        <h5>Vehicle Details</h5>
                    </div>
                    <div class="head-right"></div>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Brand name</h4>
                                        <h4 class="detail">Toyota</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Vehicle Model</h4>
                                        <h4 class="detail">Yaris 2015</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Card No</h4>
                                        <h4 class="detail">R 2212 04908</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Vin No</h4>
                                        <h4 class="detail">0799999999</h4>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card-box">
                                        <h4 class="title">Plate No.</h4>
                                        <h4 class="detail">24-97458</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 border-left">
                            <div class="card-box">
                                <h4 class="title">Service Advisor</h4>
                                <h4 class="detail">Murad Muhmad</h4>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-heading">
                    Spare Parts
                </div>

                <nz-table #editRowTable nzBordered nzTableLayout="fixed">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Phone No</th>
                            <th>Date</th>
                            <th>Grand Amount</th>
                            <th>Status</th>
                            <th nzWidth="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1212</td>
                            <td>434</td>
                            <td>345</td>
                            <td>56757</td>
                            <td>778</td>
                            <td>
                                <a [routerLink]="'/home/orde-details'" class="pen-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="none" stroke="currentColor" stroke-linecap="round"
                                            stroke-width="1.5"
                                            d="M4 22h4m12 0h-8m1.888-18.337l.742-.742a3.146 3.146 0 1 1 4.449 4.45l-.742.74m-4.449-4.448s.093 1.576 1.483 2.966c1.39 1.39 2.966 1.483 2.966 1.483m-4.449-4.45L7.071 10.48c-.462.462-.693.692-.891.947a5.24 5.24 0 0 0-.599.969c-.139.291-.242.601-.449 1.22l-.875 2.626m14.08-8.13L14.93 11.52m-3.41 3.41c-.462.462-.692.692-.947.891c-.3.234-.625.435-.969.599c-.291.139-.601.242-1.22.448l-2.626.876m0 0l-.641.213a.848.848 0 0 1-1.073-1.073l.213-.641m1.501 1.5l-1.5-1.5" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>

        </div>

    </div>


</div>