<div class="content-body-inner">
    <div class="page-title">
        <div>
            <h4>
                {{"cmsetup.Promissory_Notes_Setup" | translate}}
            </h4>
        </div>
        <div>

        </div>
    </div>
    <form [formGroup]="cmsSetupForm">
        <div class="collapse-card">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                        <div class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {{"cmsetup.Promissory_Notes" | translate}}
                        </div>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample" [ngClass]="{'disabled-section':promissorySetup == false}">
                        <div class="accordion-body">

                            <div class="edit-row">
                                <div class="text-end">
                                    <a (click)="formdisablePromissory()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <g fill="none">
                                                <path fill-rule="evenodd" stroke="#dc3545"
                                                    d="M3.25 22a.75.75 0 0 1 .75-.75h16a.75.75 0 0 1 0 1.5H4a.75.75 0 0 1-.75-.75Z"
                                                    clip-rule="evenodd" />
                                                <path stroke="#dc3545"
                                                    d="m11.52 14.929l5.917-5.917a8.232 8.232 0 0 1-2.661-1.787a8.232 8.232 0 0 1-1.788-2.662L7.07 10.48c-.462.462-.693.692-.891.947a5.24 5.24 0 0 0-.599.969c-.139.291-.242.601-.449 1.22l-1.088 3.267a.848.848 0 0 0 1.073 1.073l3.266-1.088c.62-.207.93-.31 1.221-.45a5.19 5.19 0 0 0 .969-.598c.255-.199.485-.43.947-.891Zm7.559-7.559a3.146 3.146 0 0 0-4.45-4.449l-.71.71l.031.09c.26.749.751 1.732 1.674 2.655A7.003 7.003 0 0 0 18.37 8.08l.71-.71Z" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <p>
                                            {{"cmsetup.Period_between_Promissory_Notes" | translate}}
                                        </p>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [value]="'days'"
                                                    formControlName="periodBetweenPNType">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                 {{ "cmsetup.Days" | translate }}
                                                </label>
                                            </div>
                                            <div class="input-text">
                                                <input type="number" class="form-control" id="cm_setup_daysone_input"
                                                    digitsOnly formControlName="periodBetweenPNValue">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [value]="'months'"
                                                    formControlName="periodBetweenPNType">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    {{ "cmsetup.Months" | translate }}
                                                </label>
                                            </div>
                                            <div class="input-text">
                                                <input type="number" class="form-control" id="cm_setup_monthsone_input"
                                                    digitsOnly formControlName="periodBetweenPNValueMonth">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="edit-row">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <p>
                                            {{"cmsetup.Over_Due_Date_Alert_Activation" | translate}}
                                        </p>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [value]="'days'"
                                                    id="flexRadioDefault3" formControlName="overDueAlertType">
                                                <label class="form-check-label" for="flexRadioDefault3">
                                                {{"cmsetup.Days" | translate}}
                                                </label>
                                            </div>
                                            <div class="input-text">
                                                <input type="number" class="form-control" id="cm_setup_daystwo_input"
                                                    digitsOnly formControlName="overDueAlertTypeValue">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [value]="'months'"
                                                    id="flexRadioDefault4" formControlName="overDueAlertType">
                                                <label class="form-check-label" for="flexRadioDefault4">
                                               {{"cmsetup.Months" | translate}}
                                                </label>
                                            </div>
                                            <div class="input-text">
                                                <input type="number" class="form-control" id="cm_setup_monthstwo_input"
                                                    digitsOnly formControlName="overDueAlertTypeValueMonth">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-row">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <p>
                                            {{"cmsetup.Manage_Promissory_Notes_within" | translate}}
                                        </p>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [value]="'Branch working hours'"
                                                    id="flexRadioDefault5" formControlName="managePNWithin">
                                                <label class="form-check-label" for="flexRadioDefault5">
                                                    {{"cmsetup.Branch_working_hours" | translate}}
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [value]="'Employee working hours'"
                                                    id="flexRadioDefault6" formControlName="managePNWithin">
                                                <label class="form-check-label" for="flexRadioDefault6">
                                                    {{"cmsetup.Employee_working_hours" | translate}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-row">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <p>
                                            {{"cmsetup.Allow_no_of_Rescheduling_Request" | translate}}
                                        </p>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="input-text">
                                            <input type="number" class="form-control"
                                                formControlName="allowedReschedulingRequestsLimit"
                                                id="cm_setup_monthsRecheduling_input" digitsOnly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-row">
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <p>
                                            {{"cmsetup.Allow_no_of_Transfering_Request" | translate}}

                                        </p>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="input-text">
                                            <input type="number" class="form-control"
                                                formControlName="allowedTransferringRequestsLimit"
                                                id="cm_setup_daystransfering_input" digitsOnly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <form [formGroup]="accountForm">
        <div class="collapse-card">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <div class="accordion-header" id="headingOne">
                        <div class="accordion-button" type="button" id="cm_setup_credit_management_setup_input"
                            data-bs-toggle="collapse" data-bs-target="#collapsetwo" aria-expanded="true"
                            aria-controls="collapsetwo">
                            {{"cmsetup.Contact_AND_Credit_Account_setup" | translate}}

                        </div>
                    </div>
                    <div id="collapsetwo" class="accordion-collapse collapse " aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample"
                        [ngClass]="{'disabled-section':creditManagementSetup == false}">
                        <div class="accordion-body">
                            <div class="edit-row">
                                <div class="text-end">
                                    <a (click)="formdisableCreditManagement()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <g fill="none">
                                                <path fill-rule="evenodd" stroke="#dc3545"
                                                    d="M3.25 22a.75.75 0 0 1 .75-.75h16a.75.75 0 0 1 0 1.5H4a.75.75 0 0 1-.75-.75Z"
                                                    clip-rule="evenodd" />
                                                <path stroke="#dc3545"
                                                    d="m11.52 14.929l5.917-5.917a8.232 8.232 0 0 1-2.661-1.787a8.232 8.232 0 0 1-1.788-2.662L7.07 10.48c-.462.462-.693.692-.891.947a5.24 5.24 0 0 0-.599.969c-.139.291-.242.601-.449 1.22l-1.088 3.267a.848.848 0 0 0 1.073 1.073l3.266-1.088c.62-.207.93-.31 1.221-.45a5.19 5.19 0 0 0 .969-.598c.255-.199.485-.43.947-.891Zm7.559-7.559a3.146 3.146 0 0 0-4.45-4.449l-.71.71l.031.09c.26.749.751 1.732 1.674 2.655A7.003 7.003 0 0 0 18.37 8.08l.71-.71Z" />
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                                <div class="row  mt-2">
                                    <div class="col-lg-6 col-md-12">
                                        <p>
                                            {{"cmsetup.Maximum_Number_Of_Raise_Limit_Requests" | translate}}

                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="input-text">
                                            <input type="number" class="form-control" id="cm_setup_daysthree_input"
                                                numbersOnly formControlName="raiseLimitRequest">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <p>
                                        {{"cmsetup.Maximum_Number_Of_Reduce_Limit_Requests" | translate}}

                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="input-text">
                                        <input type="number" class="form-control" id="cm_setup_daysthree_input"
                                            numbersOnly formControlName="reduceLimitRequest">
                                    </div>
                                </div>
                            </div>
                            <div class="edit-row mt-2">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <p>
                                            {{"cmsetup.Allow_The_Creation_New_Credit_Account" | translate}}
                                        </p>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" [value]="'Yes'"
                                                    id="flexRadioDefault5" formControlName="newAccount">
                                                <label class="form-check-label" for="flexRadioDefault5">
                                                    {{"Shared.Yes" | translate}}
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="days">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="No"
                                                    id="flexRadioDefault6" formControlName="newAccount">
                                                <label class="form-check-label" for="flexRadioDefault6">
                                                    {{"Shared.No" | translate}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-4">
        <div class="col-lg-7"></div>
        <div class="col-lg-5 ">
            <div class="row">
                <div class="col-lg-6">
                    <button type="button" class="btn btn-white hvr-bounce-to-right2" (click)="cancel()">Cancel</button>
                </div>
                <div class="col-lg-6">
                    <button (click)="saveCmdSetup()" [ngClass]="{
                        'btn o-btn hvr-bounce-to-right': promissorySetup || creditManagementSetup,
                        'btn btn-white hvr-bounce-to-right2': !(promissorySetup || creditManagementSetup)
                      }" class="btn o-btn hvr-bounce-to-right">Save</button>

                </div>
            </div>
        </div>
    </div>
</div>