<div class="content-body-inner" [formGroup]="cmsSetupForm" (submit)="saveCmdSetup()">
    <div class="page-title">
        <div>
            <h4>
                Promissory Notes Setup
            </h4>
        </div>
        <div>
            <a (click)="saveCmdSetup()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M3.25 22a.75.75 0 0 1 .75-.75h16a.75.75 0 0 1 0 1.5H4a.75.75 0 0 1-.75-.75Z"
                            clip-rule="evenodd" />
                        <path
                            d="m11.52 14.929l5.917-5.917a8.232 8.232 0 0 1-2.661-1.787a8.232 8.232 0 0 1-1.788-2.662L7.07 10.48c-.462.462-.693.692-.891.947a5.24 5.24 0 0 0-.599.969c-.139.291-.242.601-.449 1.22l-1.088 3.267a.848.848 0 0 0 1.073 1.073l3.266-1.088c.62-.207.93-.31 1.221-.45a5.19 5.19 0 0 0 .969-.598c.255-.199.485-.43.947-.891Zm7.559-7.559a3.146 3.146 0 0 0-4.45-4.449l-.71.71l.031.09c.26.749.751 1.732 1.674 2.655A7.003 7.003 0 0 0 18.37 8.08l.71-.71Z" />
                    </g>
                </svg>
            </a>
        </div>
    </div>
    <div class="collapse-card">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <div class="accordion-header" id="headingOne">
                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        Promissory Notes
                    </div>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="edit-row">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <h5>
                                        Period between Promissory Notes
                                    </h5>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Days
                                            </label>
                                        </div>
                                        <div class="input-text">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault2">
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Months
                                            </label>
                                        </div>
                                        <div class="input-text">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-row">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <h5>
                                        Over Due Date Alert Activation
                                    </h5>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault3">
                                            <label class="form-check-label" for="flexRadioDefault3">
                                                Days
                                            </label>
                                        </div>
                                        <div class="input-text">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault4">
                                            <label class="form-check-label" for="flexRadioDefault4">
                                                Months
                                            </label>
                                        </div>
                                        <div class="input-text">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-row">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <h5>
                                        Manage Promissory Notes within
                                    </h5>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault5">
                                            <label class="form-check-label" for="flexRadioDefault5">
                                                Branch working hours
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                id="flexRadioDefault6">
                                            <label class="form-check-label" for="flexRadioDefault6">
                                                Employee working hours
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse-card">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <div class="accordion-header" id="headingOne">
                    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetwo"
                        aria-expanded="true" aria-controls="collapsetwo">
                        Credit Management Setup
                    </div>
                </div>
                <div id="collapsetwo" class="accordion-collapse collapse " aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="edit-row">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <h5>
                                        Period between Promissory Notes
                                    </h5>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" [value]="'Days'"  (change)="onPeriodTypeChange($event)" formControlName="periodBetweenPNType" 
                                                 id="periodBetweenPNTypeDays" >
                                            <label class="form-check-label" for="periodBetweenPNTypeDays">
                                                Days
                                            </label>
                                        </div>
                                        <div class="input-text">
                                            <input type="text" class="form-control"  formControlName="periodBetweenPNValue">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" [value]="'Months'" (change)="onPeriodTypeChange($event)"   formControlName="periodBetweenPNType"
                                                id="periodBetweenPNTypeMonths">
                                            <label class="form-check-label" for="periodBetweenPNTypeMonths">
                                                Months
                                            </label>
                                        </div>
                                        <div class="input-text">
                                            <input type="text" class="form-control" formControlName="periodBetweenPNValueMonth" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-row">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <h5>
                                        Over Due Date Alert Activation
                                    </h5>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="overDueAlertType" [value]="'Days'" (change)="onAlertTypeChange($event)"
                                                formControlName="overDueAlertType" id="overDueAlertTypeDays">
                                            <label class="form-check-label" for="overDueAlertTypeDays">Days</label>
                                        </div>
                                        <div class="input-text">
                                            <input type="number" class="form-control"
                                                formControlName="overDueAlertTypeValue">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="overDueAlertType" [value]="'Months'"  (change)="onAlertTypeChange($event)"
                                                formControlName="overDueAlertType" id="overDueAlertTypeMonths">
                                            <label class="form-check-label" for="overDueAlertTypeMonths">Months</label>
                                        </div>
                                        <div class="input-text">
                                            <input type="number" class="form-control"
                                                formControlName="overDueAlertTypeValueMonth">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="edit-row">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <h5>
                                        Manage Promissory Notes within
                                    </h5>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                [value]="'Branch Working hours'" formControlName="managePNWithin"
                                                id="flexRadioDefault5">
                                            <label class="form-check-label" for="flexRadioDefault5">
                                                Branch working hours
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="days">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="Employee working hours"
                                                formControlName="managePNWithin" id="flexRadioDefault6">
                                            <label class="form-check-label" for="flexRadioDefault6">
                                                Employee working hours
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>