/* Add application styles & imports to this file! */
@import "~@ng-select/ng-select/themes/default.theme.css";



#sentInvatation .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    color: #00992b !important;
    background-color: rgba(0,153,43,.2) !important
}
.cursor {
    cursor: pointer !important;
}

.cursorDefault {
    cursor: context-menu;
}

.fa-2x {
    font-size: 1.5em !important;
}

.btn-mobile {
    background: #c39c52;
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1) !important;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: white;
}

#more-detail {
    display: none;
}

.form-control.ng-invalid.ng-touched {
    border-left: 3px solid red;
}

.form-control.ng-valid {
    border-left: 3px solid #dc3545;
}

.balance-sheet .add-row .btn {
    border-radius: 6px!important;
    height: 34px!important;
    padding: 0 10px!important;
}