<div class="center-title">
    <h2>
        Restore your password
    </h2>
</div>
<form [formGroup]="restorePassForm">
    <div class="mb-4">
        <label for="emailField" class="form-label">e-mail</label>
        <input type="email" class="form-control" formControlName="email" id="emailField"
            placeholder="Enter your e-mail">
        <div class="text-danger">
            <div *ngIf="isEmailField(formControls['email'])">
                Invalid email address
            </div>
            <div *ngIf="isRequiredField(formControls['email'])">
                This field is required
            </div>
        </div>
    </div>

    <button class="btn btn-dark" (click)="restorePassword()" [disabled]="restorePassForm.invalid">
        send confirmation code
    </button>
</form>