<div class="center-title">
    <h2>
        Create new password
    </h2>
</div>
<form [formGroup]="confirmPassForm" (submit)="setPassword()">
    <div class="mb-3">
        <label for="FormControlInputNewPass" class="form-label">Create new password</label>
        <input type="password" class="form-control" id="FormControlInputNewPass" formControlName="newPass"
            placeholder="Create a password">
        <div class="text-danger" *ngIf="isRequiredField(formControls['newPass'])">
            This field is required.
        </div>
        <div class="text-danger" *ngIf="isValidLength(formControls['newPass'])">
            <!-- Password is too short. -->
            Minimun length required {{formControls['newPass'].errors?.['minlength']?.requiredLength}} characters
        </div>


    </div>

    <div class="mb-5">
        <label for="FormControlInputConfirmPass" class="form-label">confirm your password</label>
        <input type="password" class="form-control" id="FormControlInputConfirmPass" formControlName="confirmPass"
            placeholder="Confirm your password">
        <div class="text-danger" *ngIf="isRequiredField(formControls['confirmPass'])">
            This field is required.
        </div>
        <div class="text-danger" *ngIf="isValidLength(formControls['confirmPass'])">
            Minimun length required {{formControls['confirmPass'].errors?.['minlength']?.requiredLength}} characters
        </div>
    </div>

    <button class="btn btn-dark" type="submit" [disabled]="confirmPassForm.invalid">
        set new password
    </button>
</form>